.page-frame {
  height: 100%;
  width: 100%;

  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-frame #pf-top {
  width: 100%;
  max-width: 1440px;
  float: top;
}

.page-frame #pf-bottom {
  width: 100%;
  float: bottom;
}

.page-frame #pf-inner {
  max-width: 1440px;
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
}

.page-frame #pf-left {
  position: sticky;
  top: 100px;
  align-self: start;
}

.page-frame #pf-middle {
  width: auto;
  position: relative;
  min-height: 100vh;
}

.page-frame #pf-right {
  position: sticky;
  top: 100px;
  align-self: start;
}