* {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.oocw-button-hollow {
    display: inline-block;
    border: 1px solid rgb(193, 143, 233);
    color: rgb(234, 214, 250);
    border-radius: 9999px;
    padding: 4px 15px;
    margin: 2px;
    text-decoration: none;
    white-space: nowrap;
}

.oocw-button-hollow-dark {
    display: inline-block;
    border: 1px solid rgb(58, 8, 99);
    color: rgb(74, 18, 119);
    border-radius: 9999px;
    padding: 4px 15px;
    margin: 2px;
    text-decoration: none;
    white-space: nowrap;
}

.oocw-button {
    display: inline-block;
    background-color: rgb(189, 136, 250);
    color: rgb(37, 6, 63);
    border-radius: 9999px;
    padding: 4px 15px;
    margin: 2px;
    text-decoration: none;
    white-space: nowrap;
}

.align-center {
    align-items: center;
    display: flex;
    justify-content: center;
}