ul {
    overflow: hidden;
    list-style-type: none
}

li {
    margin: 1px;
    float: left;
    width: auto;
}

.noticebar {
    text-align: center;
    background-color: blueviolet;
    height: 25px;
    line-height: 25px;
}

header.navbar {
    background-color: #301145;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-inner {
    position: static;
    width: 90%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.navbar-inner li {
    float: bottom;
    list-style: none;
    line-height: 50px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-left: 0;
}

.titles {
    display: block;
}

.align-right {
    float: right;
    margin-right: 0;
    display: block;
}

.item {
    float: left;
    height: 100%;
    position: relative;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 50px;
    font-weight: 300;
    
    transition: all 0.2s;
}

.item:hover {
    background-color: #ffffff27;
}
.item:active {
    background-color: #ffffff07;
}

.item img {
    position: relative;
    height: 24px;
    top: 6px;
    filter: invert(100%);
}

.item.active::after {
    display: block;
    content: '';
    width: 100%;
    height: 40px;
    background: rgb(170, 127, 211);
    position: absolute;
    top: 47px;
    left: 0;
}

span.bottom-highlight {
    position: relative;
    bottom: -1px;
    height: 4px;
    background: #61dafb;
    left: 0;
    right: 0;
    z-index: 1;
}