#navbar ul {
    overflow: hidden;
    list-style-type: none
}

#navbar li {
    margin: 1px;
    float: left;
    width: auto;
}

#navbar .noticebar {
    text-align: center;
    background-color: blueviolet;
}

header#navbar {
    background-color: #301145;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#navbar-occ {
    width: 100%;
    height:75px;
}

#navbar .navbar-inner {
    position: static;
    width: 90%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#navbar .navbar-inner li {
    float: bottom;
    list-style: none;
    line-height: 50px;
    margin: 0 auto;
}


#navbar .navbar-titles {
    display: block;
}

#navbar li.search-bar {
    height:40px;
    margin: 5px;
    border-radius: 20px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    transition: all 0.3s;
}

#navbar li.search-bar > * {
    width: 100%;
    padding: 0 10px;
}

#navbar li.search-bar:hover {
    width: 300px;
    background-color: rgba(255, 254, 254, 0.151);
}
#navbar li.search-bar:focus-within {
    width: 300px;
    background-color: rgba(255, 254, 254, 0.151);
}

#navbar .align-right {
    float: right;
    margin-right: 0;
    display: block;
}

#navbar .item {
    float: left;
    height: 100%;
    position: relative;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 50px;
    font-weight: 300;
    
    transition: all 0.2s;
}

#navbar .item:hover {
    background-color: #ffffff27;
}
#navbar .item:active {
    background-color: #ffffff07;
}

#navbar .item img {
    position: relative;
    height: 24px;
    top: 6px;
    filter: invert(100%);
}

#navbar .item.active::after {
    display: block;
    content: '';
    width: 100%;
    height: 40px;
    background: rgb(170, 127, 211);
    position: absolute;
    top: 47px;
    left: 0;
}

#navbar span.bottom-highlight {
    position: relative;
    bottom: -1px;
    height: 4px;
    background: #61dafb;
    left: 0;
    right: 0;
    z-index: 1;
}