#navlist {
    font-size: 16px;
    position: sticky;
    top: 0;
    list-style: none;
    background-color: gray;
}

#navlist ul {
    list-style: none;
}

#navlist a {
    text-decoration: none;
    padding: 4px;
    margin: 4px;
    border: 4px;
}

#navlist ul .list-item {
    position: relative;
    left: 10px;
}

#navlist .list-root {
    position: relative;
    height: max-content;
}

#navlist details > summary::marker{
    content: '＋';
}

#navlist details[open] > summary::marker{
    content: '－';
}

#navlist details.unmarked > summary::marker{
    content: '　';
}



#navlist ul
#navlist li {
    padding: 4px;
    margin: 4px;    
}