#navlist {
    font-size: 16px;
    position: sticky;
    top: 0;
    list-style: none;
    background-color: gray;
}

#navlist ul {
    list-style: none;
}

#navlist a {
    text-decoration: none;
    padding: 4px;
    margin: 4px;
    border: 4px;
}

#navlist ul .list-item {
    position: relative;
    left: 10px;
}

#navlist .list-root {
    position: absolute;
    height: max-content;
}

#navlist ul
#navlist li {
    padding: 4px;
    margin: 4px;    
}