.search-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-inner {
    height: 35px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar-inner > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    width: 100%;
    padding-right: 8px;
}