* {
  margin: 0;
  padding: 0;
  transition-property: background, background-color, border-radius;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

:root {

  --screen-max-width: 1440px;

  margin: 0;
  padding: 0;

  /* global variables */
  --navbar-height: 60px;
  --navbar-notice-min-height: 30px;
  --navbar-item-list-width: 220px;

  --footer-height: 160px;

  --banner-height: 300px;

  --page-content-max-width: 1440px;
  --page-content-min-width: 300px;
  --page-content-div-width: 900px;
  --page-content-mono-width: 600px;

  --page-content-min-height: 600px;

  --main-page-search-bar-height: 50px;
  --main-page-search-bar-width: 550px;
  --main-page-search-bar-txt-size: 30px;
  --main-page-search-bar-font-size: 18px;

  --leftbar-width: 320px;

  /* colors */

  --color-bg1: white;
  --color-bg2: #e0e0e0;
  --color-bg3: #cccccc;
  --color-bg-trs: #ffffffcc;
  --color-bg-trs2: #ffffff55;
  --color-bg-trs3: #ffffff22;

  --color-txt1: black;
  --color-txt2: #303030;
  --color-txt3: #606060;
  --color-txt-trs: #222222cc;
  --color-txt-trs2: #22222277;
  --color-txt-trs3: #22222222;

  --color-s-main-main:blueviolet;
  --color-s-main-light:rgb(186, 113, 255);
  --color-s-main-dark:#5b208b;
  --color-s-main-light-2:#dba4ff;
  --color-s-main-light-3:#e2c8ff;
  --color-s-main-dark-2:#3b0750;
  
  --color-s-acc-main: #1d8aff;
  --color-s-acc-light: #64aeff;
  --color-s-acc-dark: #004da0;
  --color-s-acc-light-2: #90c6ff;
  --color-s-acc-dark-2: #003d7e;

  --color-button-hover: #ffffff33;

  --navbar-notice-background-color: var(--color-s-main-light-2);
  --navbar-background-color: var(--color-s-main-main);
  --navbar-hint-color: var(--color-s-main-light);

  --footer-background-color: var(--color-bg1);
  --db-panel-color: var(--color-bg-trs);
  --db-panel-hover-color: var(--color-txt3);

  
}

:root.dark-mode, 
:root.dark-mode * {

  --color-bg1: #222222;
  --color-bg2: black;
  --color-bg3: #333333;
  --color-bg-trs: #222222cc;
  --color-bg-trs2: #22222255;
  --color-txt-trs3: #22222222;

  --color-txt1: white;
  --color-txt2: #cccccc;
  --color-txt3: #888888;
  --color-txt-trs: #ffffffcc;
  --color-txt-trs2: #ffffff55;
  --color-txt-trs3: #ffffff22;

  --navbar-background-color: var(--color-s-main-dark);
  --navbar-notice-background-color: var(--color-s-main-dark-2);

  --footer-background-color: var(--color-bg3);

  --db-panel-hover-color: var(--color-txt1);
}


body {
  background-color: var(--color-bg2);
  color: var(--color-txt1);
}

*::placeholder {
  color: var(--color-txt3);
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 12px;
}

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
}

.container {
  margin: 0 auto;
  max-width: var(--page-content-max-width);
}

@media only screen and (max-width: 768px) {
  :root {
    --page-spacing: 12px 8px 64px;
  }
}
/* space shrinking, etc. */